<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="printToPrisma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="printToPrisma.configurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <printToPrisma.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>10.10.10.7</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="destination" serializeAs="String">
        <value>/home/josephaditya/</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>dlink</value>
      </setting>
      <setting name="dbserver" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="dbuser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="dbpassword" serializeAs="String">
        <value>Tokyo88</value>
      </setting>
      <setting name="domain" serializeAs="String">
        <value>startek.com</value>
      </setting>
      <setting name="resenduser1" serializeAs="String">
        <value>ferry</value>
      </setting>
      <setting name="resenduser2" serializeAs="String">
        <value>irwansyah</value>
      </setting>
    </printToPrisma.Properties.Settings>
    <printToPrisma.configurations>
      <setting name="server" serializeAs="String">
        <value>10.10.10.7</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="destination" serializeAs="String">
        <value>/home/josephaditya/</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>dlink</value>
      </setting>
    </printToPrisma.configurations>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
